<p>login works!</p>
<h1>hello, {{displayName}}</h1>
<button type="button" (click)="setDisplayName()">Change</button>

<hr>
<h1>Display: {{displayText}}</h1>
<input type="text" name="display" id="" [(ngModel)]="displayText">
<hr>
<h1>ngFor Derective</h1>
<input type="text" name="" id="" [(ngModel)]="newMovie">
<button type="button" (click)="addMovie()">add</button>
<button type="button" (click)="removeMovie()">remove</button>
@if(movies.length > 0){
<div *ngFor="let movie of movies">
    <span>{{movie}}</span>

    
</div>
}
@else {
<h1>404 not found</h1>
}





  <main id="main" >
  	
  		<div class="align-self-center w-100">
		<h4 class="text-white text-center"><b>Formalytics</b></h4>
  		<div id="login-center" class="bg-dark row justify-content-center">
  			<div class="card col-md-4">
  				<div class="card-body">
  					<form id="login-form" >
  						<div class="form-group">
  							<label for="email" class="control-label text-dark">Email</label>
  							<input type="text" id="email" name="email" class="form-control form-control-sm">
  						</div>
  						<div class="form-group">
  							<label for="password" class="control-label text-dark">Password</label>
  							<input type="password" id="password" name="password" class="form-control form-control-sm">
  						</div>
  	
  					</form>
  				</div>
  			</div>
  		</div>
  		</div>
  </main>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



	
